.cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.43;
  color: #29303b;
  background-color: #fff;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  color: #007791;
  background-color: #fff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  -webkit-box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.1);
          box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.1);
  position: absolute;
  top: 35%;
}

.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #fff;
}

.owl-carousel .owl-nav button.owl-next:hover span, .owl-carousel .owl-nav button.owl-prev:hover span {
  color: #007791;
}

.owl-carousel .owl-nav button.owl-next:focus, .owl-carousel .owl-nav button.owl-prev:focus {
  outline: none;
}

.owl-carousel .owl-nav button.owl-next {
  right: -30px;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -30px;
}

.my-navbar {
  -webkit-box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
          box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
}

.my-navbar .my-navbar__col {
  padding-left: 0;
}

.my-navbar .my-navbar__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-navbar .my-navbar__left .navbar-brand {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  margin-right: 0;
}

.my-navbar .my-navbar__left .navbar-brand .logo-white {
  display: none;
}

.my-navbar .my-navbar__left .navbar-brand img {
  width: 110px;
}

.my-navbar .my-navbar__left .my-navbar__categories {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  color: #505763;
  font-size: 13px;
  font-weight: normal;
  cursor: pointer;
}

.my-navbar .my-navbar__left .my-navbar__categories i {
  color: #a1a7b3;
}

.my-navbar .my-navbar__left .my-navbar__form-search {
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
}

.my-navbar .my-navbar__left .my-navbar__form-search .input-group {
  background-color: #f2f3f5;
}

.my-navbar .my-navbar__left .my-navbar__form-search .input-group .form-control {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
  transition: none;
  color: #505763;
}

.my-navbar .my-navbar__left .my-navbar__form-search .input-group .form-control::-webkit-input-placeholder {
  color: #505763;
}

.my-navbar .my-navbar__left .my-navbar__form-search .input-group .form-control:-ms-input-placeholder {
  color: #505763;
}

.my-navbar .my-navbar__left .my-navbar__form-search .input-group .form-control::-ms-input-placeholder {
  color: #505763;
}

.my-navbar .my-navbar__left .my-navbar__form-search .input-group .form-control::placeholder {
  color: #505763;
}

.my-navbar .my-navbar__left .my-navbar__form-search .input-group .form-control:focus {
  background-color: #fff;
  border-top-color: #dedef0;
  border-left-color: #dedef0;
  border-bottom-color: #dedef0;
}

.my-navbar .my-navbar__left .my-navbar__form-search .input-group .form-control:focus + .input-group-append .input-group-text {
  background-color: #fff;
  border-top-color: #dedef0;
  border-right-color: #dedef0;
  border-bottom-color: #dedef0;
  color: #ec5252;
}

.my-navbar .my-navbar__left .my-navbar__form-search .input-group .form-control:focus + .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #ec5252;
}

.my-navbar .my-navbar__left .my-navbar__form-search .input-group .input-group-append .input-group-text {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  color: #ec5252;
}

.my-navbar .my-navbar__left .my-navbar__form-search .input-group .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #ec5252;
}

.my-navbar .my-navbar__right .navbar-nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-navbar .my-navbar__right .navbar-nav .nav-item {
  padding: 5px 5px;
  border: 1px solid transparent;
  border-radius: 3px;
  position: relative;
}

.my-navbar .my-navbar__right .navbar-nav .nav-item .nav-link {
  color: #505763;
  font-size: 13px;
  font-weight: normal;
}

.my-navbar .my-navbar__right .navbar-nav .nav-item:hover {
  background-color: rgba(20, 23, 28, 0.05);
}

.my-navbar .my-navbar__right .navbar-nav .nav-item:hover .overlay {
  display: block;
  z-index: 10;
}

.my-navbar .my-navbar__right .navbar-nav .nav-item .overlay {
  display: none;
  background-color: #fff;
  width: 330px;
  padding: 20px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 56px;
  border-top: 1px solid rgba(20, 23, 28, 0.05);
  -webkit-box-shadow: 0 4px 16px rgba(20, 23, 28, 0.25);
          box-shadow: 0 4px 16px rgba(20, 23, 28, 0.25);
}

.my-navbar .my-navbar__right .navbar-nav .nav-item .overlay::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: 1px solid rgba(20, 23, 28, 0.05);
  border-left: 1px solid rgba(20, 23, 28, 0.05);
  position: absolute;
  background-color: #fff;
  top: -8px;
  right: 10%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.my-navbar .my-navbar__right .navbar-nav .my-navbar__cart {
  width: 50px;
  height: 50px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
}

.my-navbar .my-navbar__right .navbar-nav .my-navbar__cart .nav-link {
  font-size: 20px;
}

.my-navbar .my-navbar__right .navbar-nav .my-navbar__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-navbar .my-navbar__right .navbar-nav .my-navbar__button:hover {
  background-color: transparent;
}

.my-navbar .my-navbar__right .navbar-nav .my-navbar__button .button {
  white-space: nowrap;
}

.my-navbar .my-navbar__right .navbar-nav .my-navbar__button .button-white {
  margin-right: 5px;
}

@media screen and (min-width: 1200px) and (max-width: 1355px) {
  .my-navbar .my-navbar__right .navbar-nav .nav-item {
    white-space: nowrap;
  }
  .my-navbar .my-navbar__right .navbar-nav .nav-item .nav-link {
    font-size: 12px;
  }
  .my-navbar .my-navbar__right .navbar-nav .nav-item .overlay {
    white-space: normal;
  }
  .my-navbar .my-navbar__right .navbar-nav .my-navbar__cart {
    padding: 1rem;
    line-height: 16px;
  }
  .my-navbar .my-navbar__right .navbar-nav .my-navbar__cart .nav-link {
    padding: 0;
  }
  .my-navbar .my-navbar--reset {
    padding-left: 0;
  }
}

@media screen and (max-width: 1200px) {
  .my-navbar .business,
  .my-navbar .instructor {
    display: none;
  }
  .my-navbar .my-navbar__right .navbar-nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  .my-navbar .my-navbar__left .my-navbar__categories,
  .my-navbar .my-navbar__left .my-navbar__form-search {
    display: none;
  }
  .my-navbar .my-navbar__right {
    width: 50%;
    margin-left: auto;
  }
  .my-navbar .my-navbar__right .navbar-nav {
    text-align: center;
  }
  .my-navbar .my-navbar__right .navbar-nav .my-navbar__button {
    display: none;
  }
}

footer {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
}

footer .footer__top {
  width: 90%;
  margin: 40px auto;
}

footer .footer__top ul {
  height: 110px;
}

footer .footer__top ul .nav-item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

footer .footer__top ul .nav-item .nav-link {
  color: #007791;
  padding: 0;
}

footer .footer__top ul .nav-item .nav-link.bold {
  font-weight: 700;
}

footer .footer__top .btn-group {
  display: block;
}

footer .footer__top .btn-group .button--dropup {
  -webkit-box-shadow: none;
          box-shadow: none;
  min-width: 160px;
}

footer .footer__top .btn-group .button--dropup i {
  padding: 0 5px;
}

footer .footer__top .btn-group .button--dropup::after {
  margin-left: 30%;
}

footer .footer__top .btn-group .dropdown-menu {
  font-size: 13px;
}

footer .footer__bottom {
  width: 90%;
  margin: 8px auto;
}

footer .footer__bottom .logo-white {
  display: none;
}

footer .footer__bottom img {
  width: 110px;
  margin-right: 10px;
}

footer .footer__bottom .nav-link {
  color: #007791;
  font-size: 13px;
  font-weight: normal;
}

.intro {
  background: linear-gradient(45deg, #6e1a52, #ec5252);
  padding: 20px;
}

.intro .intro__content {
  width: 78%;
  margin: 0 auto;
}

.intro .intro__content .intro__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .intro__content .intro__icon {
  font-size: 50px;
  color: #fff;
  margin-right: 25px;
}

.intro .intro__content .intro__detail p {
  margin-bottom: 0;
}

.intro .intro__content .intro__detail p:first-child {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}

.intro .intro__content .intro__detail p:last-child {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}

@media screen and (max-width: 1200px) {
  .intro .intro__content .intro__item .intro__icon {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    display: none;
  }
}

.course {
  margin: 25px 0;
}

.course .course__content {
  width: 90%;
  margin: 0 auto;
}

.course .course__content .row {
  margin-right: 0;
  margin-left: 0;
}

.course .course__content .course__left {
  background-color: rgba(20, 23, 28, 0.05);
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course .course__content .course__left h2 {
  color: #29303b;
  font-size: 19px;
  font-weight: normal;
}

.course .course__content #myTab {
  margin-bottom: 25px;
}

.course .course__content #myTab .nav-link {
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
}

.course .course__content #myTab .nav-link:hover {
  border-color: transparent;
  color: #007791;
}

.course .course__content #myTab .nav-link.active {
  border: none;
  border-bottom: 5px solid #007791;
}

@media screen and (max-width: 1290px) {
  .course .course__content .card .card-body .card-title {
    color: #29303b;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .course .course__content .course__left {
    padding: 20px;
  }
}

.viewing {
  padding: 22px 0;
}

.viewing .viewing__content {
  width: 90%;
  margin: 0 auto;
}

.viewing .viewing__content h2 {
  font-size: 20px;
}

@media screen and (max-width: 1290px) {
  .viewing .viewing__content .card .card-body .card-title {
    color: #29303b;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.banner {
  height: 325px;
  background: url("../img/udemy-logo-semi-transparent.svg") no-repeat 0/30%, linear-gradient(61deg, #6e1a52, #76c5d6 42%);
  background-blend-mode: overlay;
}

.banner h2 {
  color: #fff;
  font-size: 36px;
  font-weight: normal;
}

.banner p {
  margin-bottom: 0;
}

.banner button {
  margin: 10px 0;
}

.categories {
  width: 90%;
  margin: 32px auto 0;
}

.categories .categories__content h2 {
  font-size: 24px;
}

.categories .categories__content .categories__items {
  font-size: 18px;
  padding: 15px;
  border: 1px solid rgba(20, 23, 28, 0.1);
  margin-bottom: 1rem;
}

.categories .categories__content .categories__items:hover {
  -webkit-box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
          box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
}

.student {
  padding: 10px 0;
}

.student .student__content {
  width: 90%;
  margin: 0 auto;
}

.student .student__content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.partner {
  background-color: #f7f8fa;
  padding: 20px 0;
}

.partner .partner__content {
  width: 70%;
  margin: 0 auto;
}

.partner .partner__content .partner__text {
  text-align: center;
}

.partner .partner__content .partner__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .partner .partner__content {
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .partner .partner__content {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .partner .partner__content {
    width: 65%;
  }
  .partner .partner__content .partner__img {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partner .partner__content .partner__img .partner__item {
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
  }
}

.jobs {
  background-color: #f7f8fa;
  padding-top: 15px;
}

.jobs .row {
  padding: 10px;
}

.jobs .row .jobs__item {
  max-width: 440px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.jobs .row .jobs__item h2 {
  color: #505763;
  font-size: 19px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .jobs .border-right {
    border-right: none !important;
  }
}

.sidebar-mini {
  width: 150px;
  position: fixed;
  top: 25%;
  right: 0;
  background-color: #dedef0;
  z-index: 100;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebar-mini .sidebar-mini__button {
  color: #29303b;
  background-color: #dedef0;
  border: 1px solid #dedef0;
  font-size: 24px;
  font-weight: normal;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 8px 0 0 8px;
  position: fixed;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebar-mini .sidebar-mini__button:focus {
  outline: none;
}

.sidebar-mini .sidebar-mini__content {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.sidebar-mini .sidebar-mini__content h2 {
  font-size: 15px;
}

.sidebar-mini .sidebar-mini__content .switch {
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 0 10px;
  position: relative;
}

.sidebar-mini .sidebar-mini__content .switch input {
  display: none;
}

.sidebar-mini .sidebar-mini__content .switch input:checked + .slider::before {
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
}

.sidebar-mini .sidebar-mini__content .switch .slider {
  background-color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  cursor: pointer;
}

.sidebar-mini .sidebar-mini__content .switch .slider::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  bottom: 4px;
  left: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sidebar-mini.is-opened {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.button-white {
  color: #686f7a;
  background-color: #fff;
  border: 1px solid #505763;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 11px;
  cursor: pointer;
}

.button-white:hover {
  color: #29303b;
  background-color: transparent;
  border: 1px solid #29303b;
}

.button-red {
  color: #fff;
  background-color: #ec5252;
  border: 1px solid #ec5252;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 11px;
  cursor: pointer;
}

.button-red:hover {
  color: #fff;
  background-color: #521822;
  border: 1px solid #521822;
}

.button--dropup {
  color: #686f7a;
  background-color: #fff;
  border: 1px solid #505763;
  font-size: 13px;
  font-weight: 600;
  padding: 6px 10px;
  cursor: pointer;
}

.button--dropup:hover {
  color: #29303b;
  background-color: transparent;
  border: 1px solid #29303b;
}

.cover {
  background-image: url("../img/cover.jpg");
  height: 500px;
  position: relative;
}

.cover .cover__content {
  position: absolute;
  top: 50%;
  left: 12%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 500px;
}

.cover .cover__content h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}

.cover .cover__content p {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}

.cover .cover__content .cover__form .input-group {
  background-color: #fff;
}

.cover .cover__content .cover__form .input-group .form-control {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
  transition: none;
  color: #505763;
}

.cover .cover__content .cover__form .input-group .form-control::-webkit-input-placeholder {
  color: #505763;
}

.cover .cover__content .cover__form .input-group .form-control:-ms-input-placeholder {
  color: #505763;
}

.cover .cover__content .cover__form .input-group .form-control::-ms-input-placeholder {
  color: #505763;
}

.cover .cover__content .cover__form .input-group .form-control::placeholder {
  color: #505763;
}

.cover .cover__content .cover__form .input-group .form-control:focus {
  background-color: #fff;
  border-top-color: #fff;
  border-left-color: #fff;
  border-bottom-color: #fff;
}

.cover .cover__content .cover__form .input-group .form-control:focus + .input-group-append .input-group-text {
  background-color: #fff;
  border-top-color: #fff;
  border-right-color: #fff;
  border-bottom-color: #fff;
  color: #ec5252;
}

.cover .cover__content .cover__form .input-group .form-control:focus + .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #ec5252;
}

.cover .cover__content .cover__form .input-group .input-group-append .input-group-text {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  color: #ec5252;
}

.cover .cover__content .cover__form .input-group .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #ec5252;
}

@media screen and (max-width: 576px) {
  .cover .cover__content {
    max-width: 300px;
    left: 10%;
    font-size: 13px;
  }
}

.card {
  height: 275px;
  margin-right: 1px;
}

.card .card-body {
  padding: 1rem;
}

.card .card-body .card-title {
  color: #29303b;
  font-size: 15px;
  font-weight: 600;
}

.card .card-body .card-text {
  color: #686f7a;
  font-size: 12px;
  font-weight: normal;
  margin: 5px 0;
}

.card .card-body .course__star i {
  color: #f4c150;
  font-size: 11px;
  font-weight: 900;
}

.card .card-body .course__star .card__rate {
  color: #686f7a;
  font-size: 12px;
  font-weight: 600;
}

.card .card-body .course__star .card__total {
  color: #686f7a;
  font-size: 12px;
  font-weight: normal;
}

.card .card-body .card__price {
  text-align: right;
  padding: 7px 0;
}

.card .card-body .card__price span:first-child {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
  text-decoration: line-through;
}

.card .card-body .card__price span:last-child {
  color: #29303b;
  font-size: 15px;
  font-weight: 600;
}

.card--feedback {
  height: 280px;
}

.card--feedback .card-body {
  padding: 2rem;
}

.card--feedback .card-body .card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.card--feedback .card-body .card__avatar {
  margin-right: 15px;
}

.card--feedback .card-body .card__avatar img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.card--feedback .card-body .card__name {
  margin-bottom: 0;
}

.card--feedback .card-body .card-text {
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
}

body.dark-mode {
  color: #9da9bb;
  background-color: #061325;
}

.dark-mode .sidebar-mini {
  background-color: #152e4d;
  color: #fff;
}

.dark-mode .sidebar-mini .sidebar-mini__button {
  background-color: #152e4d;
  border-color: #152e4d;
  color: #fff;
}

.dark-mode .sidebar-mini .sidebar-mini__content .switch .slider {
  background-color: #061325;
  -webkit-box-shadow: 0 0 2px 3px #344050;
          box-shadow: 0 0 2px 3px #344050;
}

.dark-mode .my-navbar {
  background-color: #0e1c2f;
}

.dark-mode .my-navbar .my-navbar__left .navbar-brand .logo-black {
  display: none;
}

.dark-mode .my-navbar .my-navbar__left .navbar-brand .logo-white {
  display: inline-block;
}

.dark-mode .my-navbar .my-navbar__left .my-navbar__categories {
  color: #9da9bb;
}

.dark-mode .my-navbar .my-navbar__left .my-navbar__categories i {
  color: #d8e2ef;
}

.dark-mode .my-navbar .my-navbar__left .my-navbar__form-search .input-group {
  background-color: #152e4d;
}

.dark-mode .my-navbar .my-navbar__left .my-navbar__form-search .input-group .form-control {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
  transition: none;
  color: #d8e2ef;
}

.dark-mode .my-navbar .my-navbar__left .my-navbar__form-search .input-group .form-control::-webkit-input-placeholder {
  color: #d8e2ef;
}

.dark-mode .my-navbar .my-navbar__left .my-navbar__form-search .input-group .form-control:-ms-input-placeholder {
  color: #d8e2ef;
}

.dark-mode .my-navbar .my-navbar__left .my-navbar__form-search .input-group .form-control::-ms-input-placeholder {
  color: #d8e2ef;
}

.dark-mode .my-navbar .my-navbar__left .my-navbar__form-search .input-group .form-control::placeholder {
  color: #d8e2ef;
}

.dark-mode .my-navbar .my-navbar__left .my-navbar__form-search .input-group .form-control:focus {
  background-color: #132238;
  border-top-color: #344050;
  border-left-color: #344050;
  border-bottom-color: #344050;
}

.dark-mode .my-navbar .my-navbar__left .my-navbar__form-search .input-group .form-control:focus + .input-group-append .input-group-text {
  background-color: #132238;
  border-top-color: #344050;
  border-right-color: #344050;
  border-bottom-color: #344050;
  color: #ec5252;
}

.dark-mode .my-navbar .my-navbar__left .my-navbar__form-search .input-group .form-control:focus + .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #ec5252;
}

.dark-mode .my-navbar .my-navbar__left .my-navbar__form-search .input-group .input-group-append .input-group-text {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  color: #ec5252;
}

.dark-mode .my-navbar .my-navbar__left .my-navbar__form-search .input-group .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #ec5252;
}

.dark-mode .my-navbar .my-navbar__right .navbar-nav .nav-item .nav-link {
  color: #d8e2ef;
}

.dark-mode .my-navbar .my-navbar__right .navbar-nav .nav-item:hover {
  background-color: #152e4d;
  border: 1px solid #344050;
}

.dark-mode .my-navbar .my-navbar__right .navbar-nav .nav-item .overlay {
  background-color: #0e1c2f;
  border: 1px solid #344050;
}

.dark-mode .my-navbar .my-navbar__right .navbar-nav .nav-item .overlay::before {
  background-color: #0e1c2f;
  border-top: 1px solid #344050;
  border-left: 1px solid #344050;
}

.dark-mode .my-navbar .my-navbar__right .navbar-nav .my-navbar__button:hover {
  background-color: transparent;
  border-color: transparent;
}

.dark-mode .my-navbar .navbar-toggler {
  background-color: #d8e2ef;
}

.dark-mode .button-white:hover {
  color: #d8e2ef;
  background-color: #152e4d;
  border: 1px solid #344050;
}

.dark-mode .button-red:hover {
  color: #fff;
  background-color: #e63757;
  border: 1px solid #e63757;
}

.dark-mode .button--dropup {
  color: #d8e2ef;
  background-color: #152e4d;
  border: 1px solid #344050;
  font-size: 13px;
  font-weight: 600;
  padding: 6px 10px;
  cursor: pointer;
}

.dark-mode .button--dropup:hover {
  background-color: #132238;
}

.dark-mode .course .course__content .course__left {
  background-color: #132238;
}

.dark-mode .course .course__content .course__left h2 {
  color: #d8e2ef;
}

.dark-mode .course .course__content .course__left p {
  color: #9da9bb;
}

.dark-mode .course .course__content #myTab {
  border-bottom: 1px solid #344050;
}

.dark-mode .course .course__content #myTab .nav-link {
  color: #9da9bb;
}

.dark-mode .course .course__content #myTab .nav-link.active {
  background-color: transparent;
  color: #d8e2ef;
}

.dark-mode .course .course__content #myTab .nav-link:hover {
  color: #d8e2ef;
}

.dark-mode .card {
  background-color: #152e4d;
  border: 1px solid #344050;
}

.dark-mode .card .card-body .card-title,
.dark-mode .card .card-body .card__rate {
  color: #d8e2ef;
}

.dark-mode .card .card-body .card-text,
.dark-mode .card .card-body .card__total {
  color: #9da9bb;
}

.dark-mode .card .card-body .card__price span:first-child {
  color: #9da9bb;
}

.dark-mode .card .card-body .card__price span:last-child {
  color: #d8e2ef;
}

.dark-mode .card--feedback {
  background-color: #0e1c2f;
}

.dark-mode .card--feedback .card-body .card__name {
  color: #d8e2ef;
}

.dark-mode .categories .categories__content h2 {
  color: #d8e2ef;
}

.dark-mode .categories .categories__content .categories__items {
  background-color: #132238;
  border-color: #344050;
  -webkit-box-shadow: 0 3px 1px 0 #152e4d;
          box-shadow: 0 3px 1px 0 #152e4d;
}

.dark-mode .categories .categories__content .categories__items:hover {
  -webkit-box-shadow: 0 0 3px 2px #152e4d;
          box-shadow: 0 0 3px 2px #152e4d;
}

.dark-mode .student {
  background-color: #132238;
}

.dark-mode .student .student__content h2 {
  color: #d8e2ef;
}

.dark-mode .partner {
  background-color: #132238;
}

.dark-mode .jobs {
  background-color: #132238;
}

.dark-mode .jobs .jobs__content .jobs__item h2 {
  color: #d8e2ef;
}

.dark-mode .jobs .jobs__content .border-right {
  border-color: #344050 !important;
}

.dark-mode footer .footer__top ul .nav-item .nav-link {
  color: #d8e2ef;
}

.dark-mode footer .footer__top .btn-group .dropdown-menu {
  background-color: #132238;
  border-color: #344050;
}

.dark-mode footer .footer__top .btn-group .dropdown-menu .dropdown-item {
  color: #d8e2ef;
}

.dark-mode footer .footer__top .btn-group .dropdown-menu .dropdown-item:hover {
  background-color: #152e4d;
}

.dark-mode footer hr {
  background-color: #344050;
}

.dark-mode footer .footer__bottom {
  color: #9da9bb;
}

.dark-mode footer .footer__bottom .row .logo-black {
  display: none;
}

.dark-mode footer .footer__bottom .row .logo-white {
  display: inline-block;
}

.dark-mode footer .footer__bottom .row .nav-link {
  color: #9da9bb;
}
/*# sourceMappingURL=main.css.map */