// .background-img {
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// Playholder
%backgroundImg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
